<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{email}}</p>
</div>

<article class="about">
  <h2>Sobre mi</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque placeat rerum veniam repudiandae itaque distinctio
    incidunt sunt earum reiciendis deleniti! Explicabo in natus maxime ratione hic illum fuga nostrum unde.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque placeat rerum veniam repudiandae itaque distinctio
    incidunt sunt earum reiciendis deleniti! Explicabo in natus maxime ratione hic illum fuga nostrum unde.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque placeat rerum veniam repudiandae itaque distinctio
    incidunt sunt earum reiciendis deleniti! Explicabo in natus maxime ratione hic illum fuga nostrum unde.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque placeat rerum veniam repudiandae itaque distinctio
    incidunt sunt earum reiciendis deleniti! Explicabo in natus maxime ratione hic illum fuga nostrum unde.
  </p>
</article>
